:root {
    --primary-color: #507DBC;
    --secondary-color: #A1C6EA;
    --accent1-color: #BBD1EA;
    --accent2-color: #DAE3E5;
    --black: #04080F;
    --heading-font: Merriweather;
    --text-font: PT Serif;
}
body {
    font-family: "Merriweather", serif;
}
h1 {
    font-weight: 300;
    color: var(--accent1-color);
}
p {
    font-weight: 100;
    color: var(--primary-color);
}
/* The following CSS selector (rule) removes underlines from all hyperlinks. Do not do this.*/
a {
    text-decoration: none;
}
.hero {
    position: relative;
}
.hero img {
    display: block;
    width: 100%;
    height: auto;
}
.hero h1 {
    position: absolute;
    top: 15px;
    left: 700px;
}
.hero article {
    position: absolute;
    bottom: 15px;
    right: 15px;
}